@model IEnumerable<CarsOwners.Models.Owners>

@{
    ViewBag.Title = "Index";
}

<h2>Tulajdonosok</h2>

<p>
    @Html.ActionLink("Új létrehozása", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.ActionLink("Szerkesztés", "Edit", new { id = item.Id }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Törlés", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) |
                <button id="@item.Id" class="btn btn-success btn-cars" data-toggle="modal" data-target="#myModal">Autók</button>
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Személyes adatok és autók</h4>
            </div>
            <div class="modal-body">
                <h3>Személy adatai</h3>
                <dl id="js-userData">
                    <dt>Név:</dt>
                    <dd></dd>
                    <dt>Név:</dt>
                    <dd></dd>
                </dl>
                <h3>Autói</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Autó márka</th>
                            <th>Autó típus</th>
                            <th>Rendszám</th>
                            <th>Gyártás Dátuma</th>
                        </tr>
                    </thead>
                    <tbody class="js-content">
                       
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bezár</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(
            function () {
                $(".btn-cars").on("click", function () {
                    let id = this.getAttribute("id");

                    fetch('/api/OwnersCars/' + id)
                        .then((response) => {
                            return response.json();
                        })
                        .then((owner) => {
                            console.log(owner);

                            const bidthDay = owner.DateOfBirth.slice(0, 10);
                            const userData = `
                                                <dt>Név:</dt>
                                                <dd>${owner.FirstName} ${owner.LastName}</dd>
                                                <br/>
                                                <dt>Születési dátum:</dt>
                                                <dd>${bidthDay}</dd>
                                            `
                            $('#js-userData').html(userData);

                            const tbody = $('.js-content');
                            tbody.innerHTML = '';

                            let contant = "";
                            for (let item of owner.Cars) {
                                const date = item.DateOfProduction.slice(0,10);
                                contant +=
                                    ` 
                                      <tr>
                                        <td>${item.CarBrand}</td>
                                        <td>${item.CarType}</td>
                                        <td>${item.LicensePlateNumber}</td>
                                        <td>${date}</td>
                                      </tr>
                                    `;
                            }
                            $('.js-content').html(contant);
                        });



                });
                $('.js-content').html(
                );
            }
        );
    </script>

}