@model IEnumerable<CarsOwners.Models.Owners>

@{
    ViewBag.Title = "Index";
}

<h2>Tulajdonosok</h2>

<p>
    @Html.ActionLink("Új létrehozása", "Create",null, new { @class = "btn btn-default" } )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.ActionLink("Szerkesztés", "Edit", new { id=item.Id }, new { @class = "btn btn-default"}) |
            @Html.ActionLink("Törlés", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" }) |
            <button id="@item.Id" class="btn btn-success btn-cars">Autók</button>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(document).ready(
            function() {
                $(".btn-cars").on("click", function () {
                    let id = this.getAttribute("id");

                    fetch('/api/OwnersCars/'+ id)
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            console.log(data);
                        });
                });
            }
        );
    </script>
    
}
