@model CarsOwners.Models.Cars

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Heading</h2>


@using (Html.BeginForm("Save", "Cars"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Tulajdonos</h4>
    <hr />
    @Html.ValidationSummary(true, "Helytelen formátum", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.CarBrand, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.CarBrand, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.CarBrand)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CarType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.CarType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.CarType)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LicensePlateNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.LicensePlateNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.LicensePlateNumber)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfProduction, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.DateOfProduction, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(m => m.DateOfProduction)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Vissza a listára", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}